// Theme Color
$theme-light-gray-color: #d9d9d9;;
$theme-blue-color: #53bef9;
$theme-light-black-color: #222222;

// Font Families
$font-family-raleway: 'Raleway', sans-serif;
$font-family-lato: 'Lato', sans-serif;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;